/*
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
*/

/*background images*/
body{
    background-image: url("./images/IMG_20181115_224231_620.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}