<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->

<h1> </img> <%= title %> </h1>

<!--Full name-->
<hr><hr>
<h2> Sheila Jean Donnelly </h2>


<!--Headshot-->
<img src="/content/images/Sheila.JPG" alt="Headshot of Sheila looking at the camera with an INTJ smile" width="200" height="200"></img>
<hr>


<!--Link to PDF CV-->
<a href="/content/files/Sheila Donnelly 2022 CV.pdf" target="_blank">Sheila's CV</a>


<!--Some infomration about me-->
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, quasi magni. Minus, blanditiis! Cupiditate ipsum ratione, explicabo maiores est cumque inventore laudantium consequatur assumenda nam odit eveniet molestias rem deserunt.
</p>

