<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->

<!--About Me Page-->

<!--Full name-->
<h2 style="padding: 10px 30px;"> Sheila Jean Donnelly </h2>
<br><br>

<fieldset style="float: left; padding: 0px 20px 0px 30px;">
<!--Headshot-->
<img src="/content/images/Sheila.JPG" alt="Headshot of Sheila looking at the camera with an INTJ smile" width="300"  style="float:left"></img>
<br>


<!--Link to PDF CV-->
<a href="/content/files/Sheila Donnelly 2022 CV.pdf" target="_blank" style="font-family: Geneva, Verdana, sans-serif;">CV Link</a>
<br><br>
</fieldset>


<!--Infomration about me-->
<p style="padding: 0 px 30px 0px 20px;">
    I am a soon to be graduate of the Software Engineering Technology Program with Centennial College and a previous graduate of both Materials and Operations Management and Office Admnistration Programs from Conestoga College.
    <br><br>
    My dream is to gain the skill needed to design and develop user friendly, intuitive, and well-rounded Enterprise Resource Planning Software (ERP). I am currently starting my 2nd year of the Software Engineering Technology program at Centennial College. I will also be exploring AI elements of my program to see if I can take it a step further to develop a sort of intuitive software changeover product to make the current 3-year manual program upgrades into a smoother automated process. 
    <br><br>
    I enjoy leading and managing projects, working with and elevating team members, get a real thrill out of seeing idea’s come to life, and believe that everyting is possible.

</p>

