<h1> <%= title %> </h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, quasi magni. Minus, blanditiis! Cupiditate ipsum ratione, explicabo maiores est cumque inventore laudantium consequatur assumenda nam odit eveniet molestias rem deserunt.
</p>