<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->
 
    <!--Welcome Message-->
    <p class="home-welcome">
        Welcome
    </p>

    <!--site logo-->
    <div class="position-relative home-logo-placement">
        <div class="position-absolute top-50 start-50 translate-middle"></div>
            <img src="/content/images/Chill Potato2.png" alt="Chill Potato" width="200" height="200"></img>
        </div>
    </div>

    <p class="home-mission">
        Evolving Lean Process and Theory of Constraint Application Software with Users in mind
    </p>

    <!--Links to pages-->
    <div class="container column-containers">
        <div class="row">
            <div class="col-md-3 home-column-margins">
                <a class="btn btn-primary btn-lg <%= (page == 'projects') ? 'active' : ''; %> button-color" aria-current="page" href="/projects">My Projects</a>
            </div>
            <div class="col-md-3 home-column-margins">
                <a class="btn btn-primary btn-lg <%= (page == 'services') ? 'active' : ''; %> button-color" aria-current="page" href="/services">My Services</a>
            </div>
            <div class="col-md-3 home-column-margins">
                <a class="btn btn-primary btn-lg <%= (page == 'about') ? 'active' : ''; %> button-color" aria-current="page" href="/about">About Me</a>
            </div>
            <div class="col-md-3 home-column-margins">
                <a class="btn btn-primary btn-lg <%= (page == 'contact') ? 'active' : ''; %> button-color" aria-current="page" href="/contact">Contact Me</a>
            </div>
        </div>
    </div>
</div>







