<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->

<h1> <%= title %> </h1>

<link rel="stylesheet" href="./styles/carousel.js">        <!--link to public > content > app.css-->

<hr><hr>

<h3>EasyParenting Micro Service<h3>
<i><h5>Sofware Systems Design Project - Summer 2022</h5></i>


<br>
<h3>SnowAway Snow Shovelling Service<h3>
<i><h5>Sofware Requirements Engineering Project - Winter 2022</h5></i>

<br>
<h3>Fortune ERP III<h3>
<i><h5>The Future at your Fingertips - coming soon</h5></i>


