<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->

<h1> <%= title %> </h1>

<hr><hr>

<div class="container text-center">
    <div style="font-family: Geneva, Verdana, sans-serif;">
    <div class="row justify-content-center">
      <div class="col w-20">
        
    <!--Column 1-->

    <h3>EasyParenting Microservice<h3>
        <h5>Sofware Systems Design Project - Summer 2022</h5>
        <p style="font-size: 14pt;">Scrum Master/Project Manager (A+)</p>
        <p style="font-size: 12pt;">Connecting Parents with essential services that matter, in real time. Using a Microservice structure to connect new parents with babysitters, counsellors and community groups at a time when there is no time.</p>

      
    <div class="w-40 p-3" style="background-color: #eee;">
        <div id="carouselEasyParentingIndicators" class="carousel carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="/content/images/EasyParenting Front End.JPG" class="d-block w-20 h-20" alt="EasyParenting Front End" width="500">
              </div>        
              <div class="carousel-item" data-bs-interval="10000">
                <img src="/content/images/EasyParenting Domain Class Diagram.JPG" class="d-block w-20 h-20" alt="EasyParenting Front End Design" width="500">
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="/content/images/EasyParenting Design Patterns.JPG" class="d-block w-20 h-20" alt="EasyParenting Design Patterns" width="500">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> 
        </div> 
    </div>

</div>
<div class="col">
  <!--Column 2-->

  <h3>SnowAway Snow Shovelling Service<h3>
    <h5>Sofware Requirements Engineering Project - Winter 2022 </h5>
    <p style="font-size: 14pt;">Scrum Master/Project Manager (A+)</p>

    <p style="font-size: 12pt;">Connecting community members for quick, simple snow shovelling services. A new spin on the old fashioned way for kids and community members to make a few bucks.</p>

    <div class="w-60 p-3" style="background-color: #eee;">
        <div id="carouselSnowAwayIndicators" class="carousel carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="/content/images/SnowAway User Interface.JPG" class="d-block w-15 h-20" alt="SnowAway User Interface" width="500">
              </div>        
              <div class="carousel-item" data-bs-interval="10000">
                <img src="/content/images/SnowAway Misconduct Sequence Diagram.JPG" class="d-block w-15 h-20" alt="SnowAway Misconduct Sequence Diagram" width="500">
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="/content/images/SnowAway Domain Class Diagram.JPG" class="d-block w-15 h-20" alt="SnowAway Domain Class Diagram" width="500">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> 
        </div> 
    </div>

</div>
<div class="col">

  <!--Column 3-->

  <br>
<h3>Fortune ERP III<h3>
<i><h5>The Future at your Fingertips - coming soon</h5></i>
<p style="font-size: 14pt;">Architect</p>

<p style="font-size: 12pt;">A simple take on a complex world. The future is coming.</p>


<div class="w-60 p-3" style="background-color: #eee;">
    <div id="carouselFortuneIndicators" class="carousel carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/content/images/Fortune.jpg" class="d-block w-15 h-20" alt="Fortune Logo" width="500">
          </div>        
          <div class="carousel-item" data-bs-interval="10000">
            <img src="/content/images/Fortune code.jpg" class="d-block w-15 h-20" alt="Fortune Teaser" width="500">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="/content/images/Fortune Hist.png" class="d-block w-15 h-20" alt="Fortune Sample Histogram" width="500">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> 
    </div> 
</div>

</div>
</div>
</div>
</div>

